<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bottom</title>
    <link rel="stylesheet" href="./../css/common.css">
    <link rel="stylesheet" href="./../css/bottom.css">
</head>
<body>
<div class="container">
    <div class="footer-nav-wrapper">
        <div class="bottom-logo"></div>
        <div class="footer-nav">
            <ul>
                <li>购物指南</li>
                <li>如何下单</li>
                <li>帮5购流程</li>
                <li>订单查询</li>
                <li>物流配送</li>
            </ul>
            <ul>
                <li>支付相关</li>
                <li>支付方式</li>
                <li>安全设置</li>
                <li>账号信息</li>
            </ul>
            <ul>
                <li>售后服务</li>
                <li>取消订单</li>
                <li>申请售后</li>
                <li>退货流程</li>
                <li>退款相关</li>
            </ul>
            <ul>
                <li>VIP服务</li>
                <li>VIP优惠</li>
                <li>如何成为VIP</li>
                <li>超级帮钻</li>
            </ul>
            <ul>
                <li>帮韩品</li>
                <li>韩国正品</li>
                <li>闪电发货</li>
                <li>帮韩品售后</li>
            </ul>
            <ul>
                <li>更多</li>
                <li>手机App</li>
                <li>帮5采App</li>
                <li>帮5淘插件</li>
                <li>其他</li>
            </ul>
            <div class="bottom-ewm"></div>
        </div>
    </div>
    <div class="footer-copy">
        <p class="copy-list">
            <span>关于帮5买</span>
            <span>联系我们</span>
            <span>合作商家</span>
            <span>友情链接</span>
            <span>加入我们</span>
            <span>移动应用</span>
            <span>热门</span>
            <span>广告联盟</span>
            <span>使用条款</span>
        </p>
        <p class="copy-info">Copyright © 2011-2015 B5M.COM. All rights reserved. Powered by B5Msoft Co.,Ltd.</p>
        <p class="copy-info">增值电信业务经营许可证：沪B2-20130065号|中华人民共和国互联网药品信息服务资格证书（沪）-非经营性-2013-0034 沪卫（中医）网审【2015】10032号 沪ICP备11034776号-3|食品流通许可证:SP3101151410301755</p>
    </div>
    <div class="footer-certification">
        <img src="./../images/bo1.gif" alt="">
        <img src="./../images/bo2.png" alt="">
        <img src="./../images/bo3.gif" alt="">
        <img src="./../images/bo4.png" alt="">
        <img src="./../images/bo5.png" alt="">
        <img src="./../images/bo6.png" alt="">
        <img src="./../images/bo7.png" alt="">
    </div>
</div>
</body>
</html>