<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../css/common.css">
    <link rel="stylesheet" href="./../css/top.css">
</head>
<body>
<div class="container">
    <div class="top-bar">
        <a href="#">帮5买，享帮帮</a>
        <div class="top-bar-select">
            <a href="#">
                <div class="top-bar-pic top-bar-qq"></div>
            </a>
            <a href="#">
                <div class="top-bar-pic top-bar-wx"></div>
            </a>
            <a href="#">
                <div class="top-bar-pic top-bar-wb"></div>
            </a>
            <a href="#">
                <span>登录</span>
            </a>
            <a href="#">
                <span>注册</span>
            </a>
            <a href="#">
                <div class="top-bar-pic top-bar-xx"></div>
                <span>信息</span>
            </a>
            <a href="#">
                <div class="top-bar-pic top-bar-dd"></div>
                <span>我的订单</span>
            </a>
            <a href="#">
                <span>我的收藏</span>
            </a>
            <a href="#">
                <span>帮钻兑换</span>
            </a>
            <a href="#">
                <div class="top-bar-pic top-bar-phone"></div>
                <span>手机版</span>
            </a>
            <a href="#">
                <span>帮5淘</span>
            </a>
            <a href="#">
                <span>客户服务</span>
            </a>
            <a href="#" class="cart">
                <div class="top-bar-pic top-bar-cart"></div>
                <span>购物车</span>
                <b>0</b>
            </a>
        </div>
    </div>
    <div class="top-logo-wrapper">
        <div class="top-logo"></div>
        <div class="top-search">
            <div class="search-input">
                <form action="">
                    <input type="text">
                    <button type="submit">搜全网</button>
                </form>
                <div class="product-recommend">
                    <ul>
                        <li><a href="#" style="color:#ff4444">洗发护发</a></li>
                        <li><a href="#" style="color:#ff4444">日本纸尿裤</a></li>
                        <li><a href="#" style="color:#686765">身体乳</a></li>
                        <li><a href="#" style="color:#686765">内衣文胸</a></li>
                        <li><a href="#" style="color:#c4b1d6">iPhone 6s</a></li>
                        <li><a href="#" style="color:#c4b1d6">iPad Air2</a></li>
                        <li><a href="#" style="color:#686765">牛仔裤</a></li>
                        <li><a href="#" style="color:#686765">奶粉</a></li>
                        <li><a href="#" style="color:#686765">防晒霜</a></li>
                        <li><a href="#" style="color:#686765">伞</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-service">
            <div class="service-phone">
                <i class="phone-icon"></i>
                <span>400-085-0505</span>
            </div>
            <div class="service-email">
                <i class="email-icon"></i>
                <span>mc@b5m.com</span>
            </div>
            <div class="service-question">
                <i class="question-icon"></i>
                <span>常见问题</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>